body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fefefe;
    color: #333;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    }
.navbar {
        display: flex;
        justify-content:space-between ;
        align-items: center;
        padding: 10px 20px;
        background-color: #2d7a94;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
}
.logo {
        line-height: 1;
        margin: 0;
}
.flex-col {
        max-height: 100%;
    }
.menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }
.menu a {
        text-decoration: none;
        background-color: rgba(168, 238, 222, 0.833);
        color: #000000;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 20px;
        margin-left: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
.menu a:hover {
        background-color: #f0f0f0;
        color: #000;
    }
.search-login {
        display: flex;
        align-items: center;
        gap: 10px;
    }
.search-bar {
        padding: 8px;
        border: 2px solid #ddd;
        border-radius: 20px;
        outline: none;
        width: 200px;
        transition: box-shadow 0.3s;
    }
.search-bar:focus {
        box-shadow: 0 0 10px rgba(188, 64, 64, 0.1);
    }
.btn-search {
        padding: 8px 15px;
        background-color: #007bff;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
.btn-search:hover {
        background-color: #0056b3;
    }
.services-title {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px;
    }

.services-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 0 20px 40px;
        flex-wrap: wrap;
    }

.service-box {
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        width: 45%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        box-sizing: border-box;
        transition: transform 0.3s, box-shadow 0.3s;
    }
.service-icon {
        width: 90%;
        height: 65%;
        display: block;
        margin: 0 auto 15px;
    }
.service-box ul {
    font-size: 15px;
        padding-left: 20px;
        margin-top: 10px;
    }
.service-box li {
        margin-bottom: 8px;
        line-height: 1.5;
    }
.footer {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 20px;
        background: #201e935d;
        color: white;
        width: 100%;
        box-sizing: border-box;
}
p{
    font-size: 15px;
}
  